<div class="container mt-5">
  <h1 class="text-center text-muted mb-4">Login Page</h1>

  <form [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>
    <div *ngIf="loginError?.length" class="alert alert-danger">
      <ul>
        <li *ngFor="let e of loginError">{{ e }}</li>
      </ul>
    </div>
    <br />
    <!-- Email -->
    <div class="mb-3">
      <label for="Email" class="form-label">Email</label>
      <input
        id="Email"
        type="email"
        class="form-control"
        placeholder="Enter your email"
        formControlName="Email"
        [ngClass]="{'is-invalid': getEmail.invalid && getEmail.touched}"
      />
      <div
        *ngIf="getEmail.invalid && getEmail.touched"
        class="invalid-feedback"
      >
        <div *ngIf="getEmail.hasError('required')">Email is required.</div>
        <div *ngIf="getEmail.hasError('email')">
          email must be in valid format
        </div>
      </div>
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <input
        id="Password"
        type="password"
        class="form-control"
        placeholder="Enter your password"
        formControlName="Password"
        [ngClass]="{'is-invalid': getPassword.invalid && getPassword.touched}"
      />
      <div
        *ngIf="getPassword.invalid && getPassword.touched"
        class="invalid-feedback"
      >
        <div *ngIf="getPassword.hasError('required')">
          Password is required.
        </div>
        <div *ngIf="getPassword.hasError('minlength')">
          password should be at least 7 characters.
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-dark" [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
  <p class="text-center mt-3">
    You dont't have an account?
    <a
      [routerLink]="['/register']"
      class="fw-semibold text-primary text-decoration-none"
    >
      Register Now!
    </a>
  </p>
</div>
