<div class="container mt-5">
  <h1 class="text-center text-muted mb-4">Register Page</h1>

  <form [formGroup]="registerForm" (ngSubmit)="submit()" novalidate>
    <div *ngIf="registerError?.length" class="alert alert-danger">
      <ul>
        <li *ngFor="let e of registerError">{{ e }}</li>
      </ul>
    </div>
    <br />
    <!-- FirstName -->
    <div class="mb-3">
      <label for="FirstName" class="form-label">First Name</label>
      <input
        id="FirstName"
        type="text"
        class="form-control"
        placeholder="Enter your First Name"
        formControlName="FirstName"
        [ngClass]="{'is-invalid': getFirstName.invalid && getFirstName.touched}"
      />
      <div
        *ngIf="getFirstName.invalid && getFirstName.touched"
        class="invalid-feedback"
      >
        <div *ngIf="getFirstName.hasError('required')">
          First Name is required.
        </div>
        <div *ngIf="getFirstName.hasError('maxlength')">
          First Name must be less than 20 characters
        </div>
      </div>
    </div>

    <!-- LastName -->
    <div class="mb-3">
      <label for="LastName" class="form-label">Last Name</label>
      <input
        id="LastName"
        type="text"
        class="form-control"
        placeholder="Enter your Last Name"
        formControlName="LastName"
        [ngClass]="{'is-invalid': getLastName.invalid && getLastName.touched}"
      />
      <div
        *ngIf="getLastName.invalid && getLastName.touched"
        class="invalid-feedback"
      >
        <div *ngIf="getLastName.hasError('required')">
          Last Name is required.
        </div>
        <div *ngIf="getLastName.hasError('maxlength')">
          Last Name must be less than 20 characters
        </div>
      </div>
    </div>

    <!-- UserName -->
    <div class="mb-3">
      <label for="UserName" class="form-label">Username</label>
      <input
        id="UserName"
        type="text"
        class="form-control"
        placeholder="Enter your Username"
        formControlName="UserName"
        [ngClass]="{'is-invalid': getUserName.invalid && getUserName.touched}"
      />
      <div
        *ngIf="getUserName.invalid && getUserName.touched"
        class="invalid-feedback"
      >
        <div *ngIf="getUserName.hasError('required')">
          Username is required.
        </div>
      </div>
    </div>

    <!-- Email -->
    <div class="mb-3">
      <label for="Email" class="form-label">Email</label>
      <input
        id="Email"
        type="email"
        class="form-control"
        placeholder="Enter your email"
        formControlName="Email"
        [ngClass]="{'is-invalid': getEmail.invalid && getEmail.touched}"
      />
      <div
        *ngIf="getEmail.invalid && getEmail.touched"
        class="invalid-feedback"
      >
        <div *ngIf="getEmail.hasError('required')">Email is required.</div>
        <div *ngIf="getEmail.hasError('email')">
          email must be in valid format
        </div>
      </div>
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <input
        id="Password"
        type="password"
        class="form-control"
        placeholder="Enter password"
        formControlName="Password"
        [ngClass]="{'is-invalid': getPassword.invalid && getPassword.touched}"
      />
      <div
        *ngIf="getPassword.invalid && getPassword.touched"
        class="invalid-feedback"
      >
        <div *ngIf="getPassword.hasError('required')">
          Password is required.
        </div>
        <div *ngIf="getPassword.hasError('minlength')">
          password should be at least 7 characters.
        </div>
      </div>
    </div>

    <!-- ConfirmPassword -->
    <div class="mb-3">
      <label for="ConfirmPassword" class="form-label">Confirm Password</label>
      <input
        id="ConfirmPassword"
        type="password"
        class="form-control"
        placeholder="confirm password"
        formControlName="ConfirmPassword"
        [ngClass]="{'is-invalid': getConfirmPassword.invalid && getConfirmPassword.touched || (registerForm.hasError('mismatch') && getConfirmPassword.touched)}"
      />
      <div
        *ngIf="getConfirmPassword.invalid && getConfirmPassword.touched"
        class="invalid-feedback"
      >
        <div *ngIf="getConfirmPassword.hasError('required')">
          Confirmed Password is required.
        </div>
      </div>
      <div
        *ngIf="registerForm.hasError('mismatch') && getConfirmPassword.touched"
        class="invalid-feedback"
      >
        Passwords do not match.
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-dark"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
  </form>
  <p class="text-center mt-3">
    Already have an account?
    <a
      [routerLink]="['/login']"
      class="fw-semibold text-primary text-decoration-none"
    >
      Log in here
    </a>
  </p>
</div>
